* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f2f2f2;
}

html {
  overflow-x: hidden;
}

#main {
  padding: 24px;
}

.heading-logo {
  width: 80px;
}

.logo-and-first-line {
  justify-content: space-between;
  display: flex;
}

.first-line {
  display: flex;
  align-items: center;
}

.first-line-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #07043b;
  margin-left: 24px;
}

.sign-in {
  width: 38px;
}

.first-image {
  width: 100%;
  margin-top: 100px;
}

.content {
  margin-top: 40px;
  text-align: center;
}

.motto {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #07043b;
}

.motto-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #07043b;
  margin-top: 24px;
}

.login-div {
  height: 40px;
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3px;
  padding-left: 21px;
  padding-top: 13px;
  margin-top: 32px;
  cursor: pointer;
}

.enter-email {
  width: 132px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #c2c2c2;
}

.button1 {
  height: 40px;
  background-color: #2f65f8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3px;
  margin-top: 16px;
  padding: 12px 113px;
}

.starting-text1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.roof-image {
  position: absolute;
  top: 88%;
  left: 0;
}

.image-and-content {
  background: #f8f8fe;
}

.image2 {
  width: 100%;
}
